<div class="row">
  <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editing Invoice no: <%= @invoice.reference_number %></h3>
  </div>
<%= render 'form' %>
<%= link_to "All invoices", invoices_path  %>
</div>
