<h1><%= @invoices.size %> Invoices</h1>

<ul>
	<% @invoices.each do |invoice| %>
	<li><%= invoice %></li>
	<% end %>
</ul>

<ul>
	<li>reference_number :string</li>
	<li>issue_date :date</li>
	<li>due_date :date</li>
	<li>status :string</li>
	<li>tax :float</li>
	<li>discount :float</li>
	<li>notes :text</li>
	<li>net_amount :decimal</li>
	<li>gross_amount :decimal</li>
</ul>